.main {
  font-size: 1vw;
  overflow: hidden;
  white-space: nowrap;

  p {
    margin-top: 2vh;
    span {
      @apply text-primary;
    }
  }

  h1 {
    color: #ca445d;
    font-size: 1.7vw;
  }

  h3 {
    margin: 0;
    color: #ca445d;
    span {
      font-weight: 300;
      font-size: 0.8vw;
    }
  }
}

.en {
  font-size: 0.9vw;
}
