.main {
  @apply select-none w-screen h-screen grid;
  & > video {
    @apply fixed min-h-full min-w-full object-cover;
  }
  & > div {
    @apply flex z-10 w-full h-full;
  }
}

.menu {
  @apply flex-1 m-auto p-10 space-y-3 text-3xl font-thin text-primary grid;
}

.profile {
  @apply w-5/12 h-full relative m-auto;
  transform-style: preserve-3d;

  & > object {
    @apply m-auto w-full absolute top-0 bottom-0 max-h-9/10;
  }
}

.profileCover {
  @apply w-full h-full absolute top-0 left-0 z-20;
}

.avatar {
  @apply m-auto absolute filter drop-shadow-2xl-primary pointer-events-none;
  transform: translateZ(30px);

  & > video {
    @apply w-full h-full object-contain m-auto absolute;
    transform: scale(0.9);
  }
}

.rightPanel {
  @apply flex-1 p-10 w-0 opacity-0 m-auto;
}

.dday {
  @apply absolute left-1/2 top-1/2 w-8/12 p-5 text-center text-primary filter drop-shadow-2xxl-whitepink;
}

.logo {
  @apply absolute right-0 p-5 w-44;
  & > img {
    @apply pointer-events-none;
  }
}
