@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap");

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  font-family: "Noto Sans KR", sans-serif;
}

// .circle {
//   // border: 10px solid red;
//   background: linear-gradient(to right, red, orange);
//   clip-path: circle(300px at center);
//   height: 80vh;
//   width: 80vh;
//   border-radius: 50%;
//   margin: auto;
//   div {
//     mask-composite: add;
//     height: 80vh;
//     width: 80vh;
//     position: relative;
//     margin: auto;
//   }
// }

.circle {
  max-width: 40vw;
  max-height: 80vh;
  margin: auto;
  // background-position: bottom;
}

.backvideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.profile {
  position: relative;
  display: grid;
  width: 80%;
  height: 80%;
  margin: auto;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 30px;
  z-index: 1;
}

.menu {
  margin: auto;
  flex: 1;
  color: #fb5474;
  font-size: 40px;
  font-weight: 200;
  padding-left: 2vw;
}

.notoRegular {
  font-weight: 400;
}

.notoMedium {
  font-weight: 500;
}

.notoLight {
  font-weight: 200;
}

.notoThin {
  font-weight: 100;
}

.release {
  font-size: 40px;
  line-height: 43px;
  text-align: right;
  color: #fb5474;
  flex: 1;
  p {
    position: absolute;
    right: 1vw;
    p {
      font-size: 35px;
    }
  }
}

.profileImg {
}
